<div class="row">        <!-- three days -->
  <div class="col-md-4"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:00 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL for Ecologists</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-4"> <!-- middle column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R for Ecologists</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-4"> <!-- right column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R for Ecologists (continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:00 pm</td>        <!-- time    -->
        <td>Advanced topics in R (TBD and as time allows)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
