<div class="row">        <!-- day 1 & 2 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>Lesson 1</td>
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;1:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/spreadsheet-ecology-lesson/00-intro/index.html">Introduction</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;1:18 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/spreadsheet-ecology-lesson/01-format-data/index.html">Formatting data tables in Spreadsheets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;1:53 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/spreadsheet-ecology-lesson/02-common-mistakes/index.html">Formatting problems</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;2:13 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/spreadsheet-ecology-lesson/03-dates-as-data/index.html">Dates as data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;2:26 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/spreadsheet-ecology-lesson/04-quality-control/index.html">Quality control</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;2:46 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/spreadsheet-ecology-lesson/05-exporting-data/index.html">Exporting data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;3:00 pm</td>        <!-- time    -->
        <td>~15 min Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Lesson 2</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL for Ecologists</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;3:15 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/sql-ecology-lesson/00-sql-introduction/index.html">Introducing databases and SQL</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;4:20 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/sql-ecology-lesson/01-sql-basic-queries/index.html">Accessing data with queries</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;5:00 pm</td>        <!-- time    -->
        <td>End of day 1</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Lesson 2 (cont.)</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL for Ecologists</a></td> 
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;1:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/sql-ecology-lesson/02-sql-aggregation/index.html">Aggregating and grouping data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;1:40 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/sql-ecology-lesson/03-sql-joins/index.html">Combining data with joins</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;2:00 pm</td>        <!-- time    -->
        <td>~5 min Break</td>        <!-- content -->
      </tr>
      <tr>
        <td>Lesson 3</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R for Ecologists</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;2:05 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/00-before-we-start.html">Before we start</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;2:35 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;3:35 pm</td>        <!-- time    -->
        <td>~10 min Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;3:45 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;5:00 pm</td>        <!-- time    -->
        <td>End of day 2</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 3 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Lesson 3 (cont.)</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R for Ecologists</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;1:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating, analyzing, and exporting data with `tidyverse`</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;1:45 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with `ggplot2`</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;3:15 pm</td>        <!-- time    -->
        <td>~15 min Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;3:30 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/R-ecology-lesson/05-r-and-databases.html">SQL databases and R</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>Advanced topics</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;4:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">Producing reports with `knitr`</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;5:00 pm</td>        <!-- time    -->
        <td>End of day 3</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>After workshop</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
